.food img {
    float: left;
    height: 200px;
    width: 200px;
    margin-top: 20px;
    /* margin-left: -80px;
    margin-right: 60px; */
    flex: 1;
    

}

.food-view div {
    margin: 10px;
}

.food p {
    float: left;
    margin-bottom: 20px;
    margin-right: 60px;
    text-align: center;
    
}

#buttons-view .food-btn {
    margin: 10px;
}

.food {
    text-align: center;
}